.App {
 display: flex;

 height:100vh;
align-items: center;
justify-content: center;
}
.container{
  background:black;
 color:white;
  width:250px;
  padding:15px;
  height:340px;
  text-align: right;
  border-radius: 5px;
}
.output{
  background: rgb(71, 2, 2);
  color:white;
  margin:2px;
  padding-right:8px;
  margin-top:15px;

}
.buttons{

  display: flex;
  flex-wrap: wrap;
  width:250px;
  cursor: pointer;
  margin-top:25px;

}
.items:active{
  background:green;

}
.items{

  flex: 1 0 15%; /* explanation below */
  margin: 5px;
  background: rgb(41, 41, 41);
  text-align:center;
  padding: 5px;
  border-radius: 4px;

}
.output_numbers{
  padding:2px;
  color:red;
  font-size: 24px;
}
.operators{
 color: red;
}